<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Trang chủ</a>
        <a href="/upload-files">Tải tập tin</a>
    </div>

    <div style="padding-left:16px; padding-right:16px">
        <h2>Danh sách người dùng</h2>
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                <% let counter=1 %>
                    <% data.forEach(function(item) { %>
                        <tr>
                            <td>
                                <%=counter%>
                            </td>
                            <td>
                                <%= item.fName %>
                            </td>
                            <td>
                                <%= item.lName %>
                            </td>
                            <td class="tac-vu">
                                <button><a href="/detail-user/<%=item.id%>" target="_blank">Chi tiết</a></button>
                                <button><a href="/update-user/<%=item.id%>">Sửa</a></button>
                                <form action="/delete-user/" method="post">
                                    <input hidden value="<%=item.id%>" name="id" />
                                    <button type="submit">Xóa</button>
                                </form>
                            </td>
                        </tr>
                        <% counter++ %>
                            <% }); %>
            </tbody>
        </table>
        <div>
            <h2>Thêm mới người dùng</h2>
            <form action="/create-new-user" method="post">
                <label for="fName">Họ:</label><br>
                <input type="text" name="fName"><br>
                <label for="lName">Tên:</label><br>
                <input type="text" name="lName"><br>
                <label for="email">Email:</label><br>
                <input type="email" name="email"><br>
                <label for="address">Địa chỉ:</label><br>
                <input type="text" name="address"><br><br>
                <button type="submit">Thêm</button>
            </form>
        </div>
    </div>
</body>

</html>